/* Reset beberapa style default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya umum untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Gaya untuk container */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Gaya untuk foto */
.foto:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Gaya untuk judul */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Gaya untuk paragraf */
p {
    font-size: 1em;
    color: #555;
}
